{% extends 'master.html' %}
{% load static %}
{% block title %}
   Home Page
{% endblock %}
{% block content %}
    <h1 class="head">login</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="" class="det" id="use">Enter Username:</label>
        <input type="text" name="login_user">
        <br><br>
        <label for="" class="det">Enter Password:</label>
        <input type="text" name="login_word">
        <br><br>
        <button type="submit" class="sub ">submit</button>
    </form>
    
{% endblock %}
